# Laravel & Lumen Specific
/vendor/
/node_modules/
/public/storage
/public/hot
/public_html/storage
/public_html/hot

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/storage/*.key
/storage/pail
/storage/.key

# PHP & Laravel specific
.phpunit.result.cache
.phpactor.json
Homestead.json
Homestead.yaml
/.vagrant

# Node & npm files
npm-debug.log
yarn-error.log
composer.lock
composer.json
package-lock.json
package.json

# Development environment files
.env
.env.backup
.env.production
.env.example

# IDE & Editor specific files
/.idea
/.vscode
/.zed
/.editorconfig
/.gitignore
/.gitattributes

# Logs & Misc files
auth.json
/.fleet

# Other files
phpunit.xml
postcss.config.js
tailwind.config.js
vite.config.js

# Backup files
.env.backup
.env.production
